/* font-family: 'Roboto', sans-serif;
font-family: 'Saira Condensed', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Saira+Condensed:wght@300;400;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clearfix::after{
    display: block;
    content: "";
    clear: both;
}

body{
    font-family: 'Saira Condensed', sans-serif;
    color: white;
    background-image: linear-gradient(to bottom, #fd82ec, #fa6dd5, #f755be, #f23ba6, #eb128d);
    background-repeat: no-repeat;
    overflow: hidden;
}

.wrap{
    overflow: hidden;
}

/* COOKIES */
.cookie{
    display: none;
    align-items: flex-end;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 999;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.5);
    position: fixed;
    top:0;
    left: 0;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    text-align: center;
}

.cookie.active{
    display: flex;
}
.cookietext{
    border-radius: 20% 20% 0 0;
    padding: 4% 2%;
    background-color: rgb(244, 185, 195);

}
.buttons{
    display: flex;
    justify-content: flex-end;
    margin-top: 2%;
}
.button{
   border: none;
   outline: none;
   padding:.9em;
   width: 100px;
   margin-right: 1%;
   border-radius: 5%;
   text-transform: uppercase;
}
.button.agree{
    background-color: rgb(87, 231, 87);
    color: white;
}
.button.cancel{
    display: none;
}
.button:hover{
 
    cursor: pointer;
}

/* BURGER MENU */
.burger{
    position: fixed;
    z-index: 99;
    top: 4%;
    right: 20px;
    width: 60px;
    height: 45px;
    transition: .2s;
}
.burger span{
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: white;
    left: 0;
    transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s,transform .2s .4s;
}
.burger:hover{
    cursor: pointer;
}
.burger span:nth-child(1){
    top: 0;
}
.burger.menu_rotate span:nth-child(1){
    top: calc(50% - 5px);
    transform:rotate(45deg)
}
.burger span:nth-child(2){
    top: calc(50% - 5px);
}
.burger.menu_rotate span:nth-child(2){
    opacity: 0;
}
.burger span:nth-child(3){
    bottom: 0;
}
.burger.menu_rotate span:nth-child(3){
    bottom: calc(50% - 5px);
    transform:rotate(-45deg)
}
.burger.menu_rotate{
    transform: rotate(90deg);
}

/*MENU ACTIVE*/ 
.menu{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 80;
    transform: translateX(-100%);
    transition: .4s;
    height: 100vh;
}
.active{
    background-image: linear-gradient(to right, #fb3be1, #fa2eca, #f722b5, #f218a0, #eb128d);
    transform: translateX(0);
    border-bottom: 3px solid white;
}

.menu nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center; 
    height: 100vh;
    width: 100vw;
    font-size: 2rem;
    color: white;
    text-transform: uppercase;   
}
.menu nav ul li{
    list-style: none; 
}
.menu nav ul li a{
    display: block;
   
}
.menu nav ul li a:hover{
   cursor: pointer;
}
/*HEADER*/

header{
    height: 100vh;
    font-size: 1.5rem;
}

/*HOME*/
.home{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    height: 100vh;
    width: 100vw;
}

.welcome{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10vh 0 0 10vh; 
    grid-area: 1 / 1 / 4 / 4;
    text-transform: uppercase;
}

.welcome h1{
    font-size: 16vh;
    line-height: 16vh;
    text-align: left; 
}

.welcome h2{
    font-size: 6vh;
    line-height: 6vh;
    text-align: left;
}

.photo{
    overflow: visible;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    grid-area: 2 / 4 / 6 / 6;
}


.check-more{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 1vh;
    text-align: center;
    grid-area: 5 / 1 / 6 / 6
}

.check-more .arrow{
    height: 10vh;
    width: 10vh;
    background-color: white;
    border-radius: 50%;    
}

.check-more .check-txt{
    font-size: 3.5vh;
    text-transform: uppercase;
    padding-bottom: .5rem;
}
.check-more .arrow i{
    line-height: 10vh;
    font-size: 3vh;
    color: #f218a0;
    animation: arrow 2s infinite linear;
}

@keyframes arrow {
    0%{
    transform: translateY(0);
    }
    80%{
        transform: translateY(0);
    }
    85%{
        transform: translateY(-20%);
    }
    90%{
        transform: translateY(0);
    }
    95%{
        transform: translateY(-20%);
    }
    100%{
        transform: translateY(0);
    }
}

.about-me {
    height: 50vh;
}

@media (orientation: portrait) {

    .home{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px; 
        height: 100vh;
        width: 100vw;
    }

    .welcome{
        padding: 5vw 0 0 5vw;
        grid-area: 1 / 1 / 5 / 10;
    }

    .welcome h1{
        font-size: 20vw;
        line-height: 15vw;
        text-align: left; 
    }
    
    .welcome h2{
        font-size: 6vw;
        line-height: 6vw;
        text-align: left;
    }

    .photo{
        grid-area: 5 / 5 / 13 / 13;
    }

    .check-more{
        grid-area: 7 / 1 / 13 / 5;
    }

    .check-more .arrow{
        height: 10vh;
        width: 10vh;  
    }
    
    .check-more .check-txt{
        font-size: 6vw;
        padding-bottom: .5rem;
    }

    .check-more .arrow i{
        line-height: 10vh;
        font-size: 3vh;
    }
} 











    





